/* DOCTYPE CSS*/
/* URL link for body background (Placeholder)
<background-image: url("images/anxiety.jpg");> 
*/
/* Responsiveness For Mobile */

/* media screens 680-940px */
@media only screen and (min-width: 681px) {

	#body0 {
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}
		
		#body1 {
		margin-left: 2vw;	
		max-width: 100vw;
		min-width: 1px;
		overflow: hidden;
	 }


}
/* media screens under 680px */
@media only screen and (max-width: 680px) {

	#body0 {
	margin-left: 2vw;
	max-width: 100%;
	max-height: 100%;
}
	
	#body1 {
	max-width: 100vw;
	min-width: 1px;
	overflow-y: visible;
 }


 iframe {

	max-width: 47vw;
	min-width: 47vw;
	min-height: 10vw;
	max-height: 50vw;
	
 }
 #CountDownTitle {
margin-top: 20vw;

 }

 p {
	transition: all 2s;
 	font-size: 3vw;
}

a {
	font-size: 50.5vw;
}
}
/* Media Screens over 940px */
@media only screen and (max-height: 940px) {
	#CountDownTitle {
min-width: 50%;
min-height: 10%;
	}

}

@media only screen and (max-width: 420px) {
	#Fadeinhome {
		font-size: 7vw;
	}

	p {
	font-size: 5vw;
	max-width: 50vw;
}
}

body {
min-height: 100%;

	background-color: black;
	}
	h1 {
	color: rgb(255, 255, 255);
	font-size: xx-large;
	font-weight: 500;
	animation-name: Fadein;
	animation-duration: 1500ms;
	}
h2 {
	color:  rgb(202, 202, 202);
	font-weight: 200;
}
@keyframes Fadein {
	0% {color: rgb(0, 0, 0);}
}
#body0 {
	
	transition: background-position 1s;
	background-image: url(Images/a.jpg);
	background-size: 75vw;
	background-repeat: no-repeat;
	background-position: fixed;
	background-position-y: -20vw;
	background-position-x: center;
	text-align: left;
	margin-left: 5vw;
	margin-right: auto;
	margin-top: 10vw;
	margin-bottom: auto;
}
#body1 {
	max-width: 100vw;
	max-height: 100vw;
	min-width: 100vw;
	text-align: left;
	margin-right: auto;
	margin-top: 10vw;
	margin-bottom: auto;
	background-color: #000000;
	background-size: cover;
	text-align: center;
	background-repeat: no-repeat;
	height: 10vw;
}
#Fadeinhome {
	animation-name: Fadein;
	animation-duration: 3s;
}
#Fadeinsub {
	animation-name: Fadein;
	animation-duration: 1s;
}
	a {
	color:  rgb(238, 238, 238);
	text-decoration: none;
	font-size: large;
	font-weight: 500;
	transition: font-size 1s;
	background-color: rgba(0, 0, 0, 0.541);
}
a:hover {
	font-size:xx-large;
	color: rgb(173, 172, 172);
	text-decoration: none;

}
a:active {
	color: rgb(138, 137, 137);
	text-decoration: none;

}
a:visited {
color: rgb(255, 255, 255);
text-decoration: none;
}
a:link {
	text-decoration: none;

}

#titlecard0
{
	text-align: left;
	Color: rgb(43, 41, 41);
	font-weight: 300;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
}
#titlecard1
{
	text-align: left;
	Color: rgb(163, 18, 18);
	font-weight: 300;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
}
main
{
	text-align: left;
	color: gray;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
}
#CountDownTitle
{
	transition: all 500ms;
	color: rgb(255, 255, 255);
	background-color: #ffffff00;
	text-align: center;
	margin-left: 0vw;
	font-weight: 200;
	font-size: 5.5vw;
	font: lighter;
}
#countdown
{
	transition: all 1s;
	color: rgb(255, 255, 255);
	background-color: #52003000;
	text-align: center;
	margin-left: 50vw;
	font-weight: 100;
	font-size: 2.5vw;
}
#home0 {
	color: rgb(128, 0, 106);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.342);
}
#home0:hover {
	text-shadow: 2px 2px rgb(0, 0, 0);

}
form {
animation-name: Slideinfromleft;
animation-duration: 3s;
}
@keyframes Slideinfromleft {
0% {margin-left: -150%;}

}
p {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	color: rgb(255, 255, 255);
	animation-duration: 3s;
	animation-name: Fadein;
	background-color: black;
    max-width: fit-content;
}
#EmailForm {
animation-name: Slideinfromleft;
animation-duration: 2200ms;
background-color: black;
max-width: fit-content;
}

#Forminput {
background-color: rgb(255, 255, 255);

}
#Contact { 
	animation-duration: 1.2s;
	color: rgb(138, 137, 137);
	background-color: rgba(0, 0, 0, 0.541);
	width: fit-content;
}
#Icons {
	size: 20vw;
}
#Icons:hover {
	size: 50vw;
}